{% load static %}
<html>
<head>


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>
  <div id="">
    <img src="{% static 'pus/fun.jpg' %}" width="200" height="100">
</div>
<br>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Date of Birth</th>
    <th>Address</th>
  </tr>
    {% for emp in emp %}
  <tr>
    <td>{{ emp.name }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.birth_date }}</td>
    <td>{{ emp.location }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
